<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path }}" type="application/json" title="{{ metadata.title }}">
    {%- set styleUrls = [ "/assets/css/v1-theme.css", "https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap", "https://fonts.cdnfonts.com/css/cascadia-code", "https://unicons.iconscout.com/release/v3.0.6/css/line.css", "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/tomorrow.min.css" ] -%}
    {%- for styleUrl in styleUrls -%}
    {%- if "https://" in styleUrl  -%}
    <link rel="preconnect" href="{{ styleUrl | domain(true) }}" crossorigin/>
    {% endif -%}
    <link rel="preload" as="style" href="{{ styleUrl }}"/>
    <link rel="stylesheet" href="{{ styleUrl }}" media="print" onload="this.media='all'"/>
    <noscript><link rel="stylesheet" href="{{ styleUrl }}"/></noscript>
    {% endfor -%}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LSYK20SEW5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-LSYK20SEW5');
    </script>
  </head>
  <body>
    <div id="loadOverlay" style="background-color:#fff; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
    <div class="container">
      <header>
        <a class="no-underline" href="/" title="Hossein Margani Home Page"><img alt="Hossein Margani Profile Picture" class="logo" src="/assets/img/me.jpeg" width="64" height="64"/></a>
        <nav id="top-nav">
          <label for="toggle">&#9776;</label>
          <input type="checkbox" id="toggle"/>
          <ul id="top-menu">
            <li>
              <a href="/blog/" title="Hossein Margani's Blog">
                Blog
              </a>
            </li>
            <li class="icon">
              <a href="https://twitter.com/hmrdev" title="Hossein Margani Twitter Account">
                <i class="uil uil-twitter"></i>
              </a>
            </li>
            <li class="icon">
              <a href="https://www.linkedin.com/in/hosseinmargani/" title="Hossein Margani Linkedin Account">
                <i class="uil uil-linkedin"></i>
              </a>
            </li>
            <li class="icon">
              <a href="https://github.com/margani" title="Hossein Margani Github Account">
                <i class="uil uil-github"></i>
              </a>
            </li>
          </ul>
        </nav>
        <div class="clearfix"></div>
      </header>
      <main class="container">

        {{ content | safe -}}

      </main>
      <footer>
        <p>Copyright © 2021 Hossein Margani</p>
      </footer>
    </div>
  </body>
</html>