/* header,
footer {
  height: 900px;
  background-color: #eaeaea;
  font-size: 40px;
  text-align: center;
}

.sidebar {
  background-color: #e5e5e5;
} */

.blog-posts h2 {
  font-size: 2.17em;
  line-height: 4rem;
}

.blog-posts .entry-date {
  color: #888;
  margin-right: 15px;
  font-size: 1.8rem;
  float: right;
  line-height: 4rem;
}

.blog-posts .pagination {
  height: 6rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog-posts .pagination .older {
  float: right;
}

.blog-posts .pagination .newer {
  float: left;
}
