html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  margin-bottom: 3rem;
  letter-spacing: 0em;
  color: #263238;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #263238;
  line-height: 6rem;
  font-weight: 700;
}
h1,
h2 {
  line-height: 6rem;
}
h3,
h4,
h5,
h6,
p,
ul,
ol,
figcaption,
dl,
table,
label,
input,
span {
  line-height: 3rem;
  font-size: 1.8em;
}
h1 {
  font-size: 3.55em;
}
h2 {
  font-size: 3.17em;
}
h3 {
  font-size: 2.83em;
}
h4 {
  font-size: 2.53em;
}
h5 {
  font-size: 2.26em;
}
h6 {
  font-size: 2.02em;
}
p,
ul,
ol {
  color: #37474f;
}

a {
  margin-bottom: 0;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  transition: border-bottom-color 0.1s ease-in-out;
  outline: none;
}

a:hover {
  border-bottom-color: #222;
}

img {
  max-width: 100%;
}

a img {
  border-bottom-width: 0;
  vertical-align: top;
}

a.no-underline {
  border-bottom-width: 0;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color: #dee2e6;
  caption-side: bottom;
  border-collapse: collapse;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
}
th {
  text-align: inherit;
}
